In [33]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt
import keras
from keras.models import model_from_json
import pickle
from collections import OrderedDict

In [3]:
# load json and create model
model_json = 'model-128-256-128-64-19(all relu)-20210112-23-21.json'
json_file = open(model_json, 'r')
loaded_model_json = json_file.read()
json_file.close()
model = model_from_json(loaded_model_json)

In [4]:
print(model)

<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001B599E896D0>

In [5]:
# load weights into new model
model_name = 'model-128-256-128-64-19(all relu)-20210112-23-21-epoch=145-val_loss=0.046082.hdf5'
model.load_weights(model_name)

In [7]:
# load standard scaler
ss = pickle.load(open('StandardScaler.pkl', 'rb'))

In [17]:
# load LabelEncoder for Venue Name
venue_encoder_name = 'VenueName_Encoder.pkl'
venue_le = pickle.load(open(venue_encoder_name, 'rb'))

In [18]:
# load LabelEncoder for row
row_encoder_name = 'Row_Encoder.pkl'
row_le = pickle.load(open(row_encoder_name, 'rb'))

In [19]:
# load LabelEncoder for Trainer
trainer_encoder_name = 'Trainer_Encoder.pkl'
trainer_le = pickle.load(open(trainer_encoder_name, 'rb'))

In [20]:
# load LabelEncoder for Driver
driver_encoder_name = 'Driver_Encoder.pkl'
driver_le = pickle.load(open(driver_encoder_name, 'rb'))

In [57]:
future_races_df = pd.read_csv('dataset4(AutoRecovered).csv', index_col=False)
print(future_races_df)

          day    venuename  raceno  weather trackcondition         runnername  \
0    1/2/2016  Albion Park       1        3           GOOD        Jack Malone
1    1/2/2016  Albion Park       1        3           GOOD              Vader
2    1/2/2016  Albion Park       1        3           GOOD     Adriatic Coast
3    1/2/2016  Albion Park       1        3           GOOD         Tuxedo Max
4    1/2/2016  Albion Park       1        3           GOOD        True Desire
..        ...          ...     ...      ...            ...                ...
190  1/2/2016      Geelong       7        1           GOOD    Desdon Murruffy
191  1/2/2016      Geelong       7        1           GOOD  Charlie Machsheen
192  1/2/2016      Geelong       7        1           GOOD        Abettorpunt
193  1/2/2016      Geelong       7        1           GOOD    Glenferrie Hood
194  1/2/2016      Geelong       7        1           GOOD    Hilltop Hustler

     win_odds_bsp  poolsizeamountwin       id  racenumber  ... handicap  \
0            2.63              17311  1977303           1  ...        0
1           23.85              17311  1977304           1  ...        0
2            7.00              17311  1977305           1  ...        0
3            7.26              17311  1977306           1  ...        0
4           73.53              17311  1977307           1  ...        0
..            ...                ...      ...         ...  ...      ...
190         28.00              23188  1977570           7  ...        0
191        216.42              23188  1977571           7  ...        0
192         59.88              23188  1977572           7  ...        0
193         44.00              23188  1977573           7  ...        0
194        188.16              23188  1977574           7  ...        0

    leader  gatespeed  placer horseid  age       colour  \
0        1          1       1  773852    4          BAY
1        0          0       1  770866    5  BROWN/BLACK
2        0          0       1  787614    6        BLACK
3        0          0       0  792645    5  BROWN/BLACK
4        0          0       0  541224    7          BAY
..     ...        ...     ...     ...  ...          ...
190      0          1       0  762083    6          BAY
191      0          0       0  228737    7        BROWN
192      0          0       0  219387    8        BLACK
193      0          0       0  779693    6          BAY
194      0          0       0  785282    6  BROWN/BLACK

                       sire      sex  winner
0            CAMMIBEST USA   GELDING       1
1    ALLAMERICAN INGOT USA   GELDING       0
2        WASHINGTON VC USA   GELDING       0
3                  ELSU NZ   GELDING       0
4          REAL DESIRE USA   GELDING       0
..                      ...      ...     ...
190         MODERN ART USA   GELDING       0
191          MACH THREE CA   GELDING       0
192    BETTORS DELIGHT USA   GELDING       0
193    CHRISTIAN CULLEN NZ   GELDING       0
194  PRESIDENTIAL BALL USA   GELDING       0

[195 rows x 43 columns]

In [58]:
# choose the important features from dataframe
feature_df = future_races_df[['daycalender', 'racenumber', 'venue', 'racedistance', 'horseid', 'horsename', 'row', 'trainer', 'driver', 'handicap', 'age']].copy()
feature_df = feature_df.rename(columns={"daycalender": "day", "venue": "venuename", "racenumber": "raceno"})

          day  raceno    venuename  racedistance  horseid          horsename  \
0    1/2/2016       1  Albion Park          1660   773852        JACK MALONE
1    1/2/2016       1  Albion Park          1660   770866              VADER
2    1/2/2016       1  Albion Park          1660   787614     ADRIATIC COAST
3    1/2/2016       1  Albion Park          1660   792645         TUXEDO MAX
4    1/2/2016       1  Albion Park          1660   541224        TRUE DESIRE
..        ...     ...          ...           ...      ...                ...
190  1/2/2016       7      Geelong          2570   762083    DESDON MURRUFFY
191  1/2/2016       7      Geelong          2570   228737  CHARLIE MACHSHEEN
192  1/2/2016       7      Geelong          2570   219387        ABETTORPUNT
193  1/2/2016       7      Geelong          2570   779693    GLENFERRIE HOOD
194  1/2/2016       7      Geelong          2570   785282    HILLTOP HUSTLER

     row          trainer        driver  handicap  age
0    Fr5      Peter Greig    P J Greig          0    4
1    Fr3     Ryan Veivers   N M Dawson          0    5
2    Fr1       Rob Gorman   R M Gorman          0    6
3    Sr2      Ken Rattray     I L Ross          0    5
4    Fr7         Mark Dux      M A Dux          0    7
..   ...              ...           ...       ...  ...
190  Fr5   Matthew Craven   M J Craven          0    6
191  Sr3    Craig Demmler  C T Demmler          0    7
192  Sr5      David Lewis   J J Caldow          0    8
193  Sr2      Ahmed Taiba      A Taiba          0    6
194  Sr6  Michael Stanley   C A Alford          0    6

[195 rows x 11 columns]

In [59]:
# apply Encoders
# venue encoder
feature_df['venuename'] = venue_le.transform(feature_df['venuename'])
# row encoder
feature_df['row'] = row_le.transform(feature_df['row'])
# trainer encoder
feature_df['trainer'] = trainer_le.transform(feature_df['trainer'])
# driver encoder
feature_df['driver'] = driver_le.transform(feature_df['driver'])

In [60]:
# remove duplicated rows
feature_df = feature_df.drop_duplicates()

In [61]:
print(feature_df)

          day  raceno  venuename  racedistance  horseid          horsename  \
0    1/2/2016       1          1          1660   773852        JACK MALONE
1    1/2/2016       1          1          1660   770866              VADER
2    1/2/2016       1          1          1660   787614     ADRIATIC COAST
3    1/2/2016       1          1          1660   792645         TUXEDO MAX
4    1/2/2016       1          1          1660   541224        TRUE DESIRE
..        ...     ...        ...           ...      ...                ...
190  1/2/2016       7         34          2570   762083    DESDON MURRUFFY
191  1/2/2016       7         34          2570   228737  CHARLIE MACHSHEEN
192  1/2/2016       7         34          2570   219387        ABETTORPUNT
193  1/2/2016       7         34          2570   779693    GLENFERRIE HOOD
194  1/2/2016       7         34          2570   785282    HILLTOP HUSTLER

     row  trainer  driver  handicap  age
0      6     2511    1902         0    4
1      4     2881    1795         0    5
2      1     2716    2096         0    6
3     12     1768     963         0    5
4      8     2045    1480         0    7
..   ...      ...     ...       ...  ...
190    6     2113    1603         0    6
191   13      614     503         0    7
192   15      775    1100         0    8
193   12       35     181         0    6
194   16     2232     368         0    6

[164 rows x 11 columns]

In [95]:
# Create Pivot table

# choose 2 features from race : venuename and racedistance.
# choose 6 features from horses : horseid, row, trainer, driver, handicap, age
# maximum horse number of race is 19.
# total feature number of each race will be 6 * 19 + 2 = 116
group_df = feature_df.groupby(['day', 'raceno', 'venuename', 'racedistance'])
print(group_df)

columns = ['venuename', 'racedistance']
extend_columns = ['venuename', 'racedistance', 'day']
common_columns = ['horseid', 'row', 'trainer', 'driver', 'handicap', 'age']
extend_common_columns = ['horseid', 'horsename', 'row', 'trainer', 'driver', 'handicap', 'age']

max_number = 19
for i in range(1, max_number + 1):
    ith_columns = []
    for column in common_columns:
        ith_columns.append(column + str(i))
    columns += ith_columns
test_df = pd.DataFrame(columns = columns)


for i in range(1, max_number + 1):
    ith_columns = []
    for column in extend_common_columns:
        ith_columns.append(column + str(i))
    extend_columns += ith_columns

place_columns = []
for i in range(1, max_number + 1):
    place_columns.append('place' + str(i))
extend_columns += place_columns

extend_df = pd.DataFrame(columns = extend_columns)
print(extend_columns)


for group_name, df in group_df:
    # print(group_df)
    day, raceno, venuename, racedistance = group_name
    ext_item = OrderedDict()
    item = OrderedDict()
    ext_item['venuename'] = item['venuename'] = venuename
    ext_item['racedistance'] = item['racedistance'] = racedistance
    ext_item['day'] = day
    index = 1
    
    for i, row in df.iterrows():
        ext_item['horseid' + str(index)] = item['horseid' + str(index)] = row['horseid']
        ext_item['row' + str(index)] = item['row' + str(index)] = row['row']
        ext_item['trainer' + str(index)] = item['trainer' + str(index)] = row['trainer']
        ext_item['driver' + str(index)] = item['driver' + str(index)] = row['driver']
        ext_item['horseid' + str(index)] = item['horseid' + str(index)] = row['horseid']
        ext_item['handicap' + str(index)] = item['handicap' + str(index)] = row['handicap']
        ext_item['age' + str(index)] = item['age' + str(index)] = row['age']
        ext_item['horsename' + str(index)] = row['horsename']
        index += 1
    ext_item['horsecnt'] = index - 1
    if index >= max_number:
        continue
    for index1 in range(index, max_number+1):
        ext_item['horseid' + str(index1)] = item['horseid' + str(index1)] = 0
        ext_item['row' + str(index1)] = item['row' + str(index1)] = 0
        ext_item['trainer' + str(index1)] = item['trainer' + str(index1)] = 0
        ext_item['driver' + str(index1)] = item['driver' + str(index1)] = 0
        ext_item['horseid' + str(index1)] = item['horseid' + str(index1)] = 0
        ext_item['handicap' + str(index1)] = item['handicap' + str(index1)] = 0
        ext_item['age' + str(index1)] = item['age' + str(index1)] = 0
    test_df = test_df.append(item, ignore_index = True)
    extend_df = extend_df.append(ext_item, ignore_index = True)
test_df = test_df.fillna(0)
extend_df = extend_df.fillna(0)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001B5CD1A0670>
['venuename', 'racedistance', 'day', 'horseid1', 'horsename1', 'row1', 'trainer1', 'driver1', 'handicap1', 'age1', 'horseid2', 'horsename2', 'row2', 'trainer2', 'driver2', 'handicap2', 'age2', 'horseid3', 'horsename3', 'row3', 'trainer3', 'driver3', 'handicap3', 'age3', 'horseid4', 'horsename4', 'row4', 'trainer4', 'driver4', 'handicap4', 'age4', 'horseid5', 'horsename5', 'row5', 'trainer5', 'driver5', 'handicap5', 'age5', 'horseid6', 'horsename6', 'row6', 'trainer6', 'driver6', 'handicap6', 'age6', 'horseid7', 'horsename7', 'row7', 'trainer7', 'driver7', 'handicap7', 'age7', 'horseid8', 'horsename8', 'row8', 'trainer8', 'driver8', 'handicap8', 'age8', 'horseid9', 'horsename9', 'row9', 'trainer9', 'driver9', 'handicap9', 'age9', 'horseid10', 'horsename10', 'row10', 'trainer10', 'driver10', 'handicap10', 'age10', 'horseid11', 'horsename11', 'row11', 'trainer11', 'driver11', 'handicap11', 'age11', 'horseid12', 'horsename12', 'row12', 'trainer12', 'driver12', 'handicap12', 'age12', 'horseid13', 'horsename13', 'row13', 'trainer13', 'driver13', 'handicap13', 'age13', 'horseid14', 'horsename14', 'row14', 'trainer14', 'driver14', 'handicap14', 'age14', 'horseid15', 'horsename15', 'row15', 'trainer15', 'driver15', 'handicap15', 'age15', 'horseid16', 'horsename16', 'row16', 'trainer16', 'driver16', 'handicap16', 'age16', 'horseid17', 'horsename17', 'row17', 'trainer17', 'driver17', 'handicap17', 'age17', 'horseid18', 'horsename18', 'row18', 'trainer18', 'driver18', 'handicap18', 'age18', 'horseid19', 'horsename19', 'row19', 'trainer19', 'driver19', 'handicap19', 'age19', 'place1', 'place2', 'place3', 'place4', 'place5', 'place6', 'place7', 'place8', 'place9', 'place10', 'place11', 'place12', 'place13', 'place14', 'place15', 'place16', 'place17', 'place18', 'place19']

In [96]:
print(extend_df)

    venuename  racedistance       day  horseid1         horsename1  row1  \
0           1          1660  1/2/2016    773852        JACK MALONE     6
1          34          2100  1/2/2016    772434       MACTERRA LAD     3
2           1          2138  1/2/2016    768592        CEE UIN L A     1
3          34          2100  1/2/2016    779658           EMMANUEL     4
4           1          1660  1/2/2016    346189          MONARKMAC     1
5          34          2100  1/2/2016    786544        CRUZ BROMAC     1
6           1          2138  1/2/2016    762784     YERRINGTON BOB     1
7          34          1609  1/2/2016    767546       PIPE ME HOME     5
8           1          1660  1/2/2016    762540     GALACTIC EAGLE    14
9          34          2570  1/2/2016    772957    DEAD CAT BOUNCE     1
10          1          2138  1/2/2016    762546            BEBRAVE     4
11         34          2100  1/2/2016    776469    ELLAS PUPPETEER     6
12          1          2138  1/2/2016    345395     COREY ODONOHUE     3
13         34          2570  1/2/2016    229983        IT IS BILLY    11
14          1          1660  1/2/2016    774384  THREE DEE DELIGHT     3
15          1          1660  1/2/2016    786705      OUR OVERANOVA    13

    trainer1  driver1  handicap1  age1  ...  place11 place12  place13  \
0       2511     1902          0     4  ...        0       0        0
1         56       37          0     5  ...        0       0        0
2       2716     2096          0    10  ...        0       0        0
3       2113     1603          0     5  ...        0       0        0
4       1236     2354          0     7  ...        0       0        0
5        817     1808          0     4  ...        0       0        0
6       2940     2305          0     6  ...        0       0        0
7        502      368          0     5  ...        0       0        0
8       2940     2305          0    10  ...        0       0        0
9       2353      368         10     6  ...        0       0        0
10      3308     2305          0     6  ...        0       0        0
11      1347      895          0     4  ...        0       0        0
12      2824      937          0     7  ...        0       0        0
13      2170      131          0     7  ...        0       0        0
14       473     1909          0     4  ...        0       0        0
15      1236      907          0     6  ...        0       0        0

    place14  place15  place16  place17  place18 place19  horsecnt
0         0        0        0        0        0       0      10.0
1         0        0        0        0        0       0      12.0
2         0        0        0        0        0       0      11.0
3         0        0        0        0        0       0       8.0
4         0        0        0        0        0       0      11.0
5         0        0        0        0        0       0       9.0
6         0        0        0        0        0       0      10.0
7         0        0        0        0        0       0       8.0
8         0        0        0        0        0       0      12.0
9         0        0        0        0        0       0      10.0
10        0        0        0        0        0       0      10.0
11        0        0        0        0        0       0      10.0
12        0        0        0        0        0       0      12.0
13        0        0        0        0        0       0      12.0
14        0        0        0        0        0       0      10.0
15        0        0        0        0        0       0       9.0

[16 rows x 156 columns]

In [72]:
test_x = pd.DataFrame(ss.transform(test_df),columns = test_df.columns)
print(test_x)

    venuename  racedistance  horseid1      row1  trainer1   driver1  \
0   -1.632510     -1.104179  0.116048 -0.085988  0.892568  0.929368
1   -0.398371      0.531545  0.103234 -0.858562 -1.642511 -1.654867
2   -1.632510      0.672812  0.068514 -1.373611  1.104255  1.198184
3   -0.398371      0.531545  0.168516 -0.601037  0.481586  0.515059
4   -1.632510     -1.104179 -3.748690 -1.373611 -0.424021  1.555681
5   -0.398371      0.531545  0.230744 -1.373611 -0.856688  0.799117
6   -1.632510      0.672812  0.016028 -1.373611  1.335562  1.487784
7   -0.398371     -1.293774  0.059061 -0.343513 -1.181963 -1.196217
8   -1.632510     -1.104179  0.013823  1.974209  1.335562  1.487784
9   -0.398371      2.278796  0.107960 -1.373611  0.729415 -1.196217
10  -1.632510      0.672812  0.013877 -0.601037  1.715566  1.487784
11  -0.398371      0.531545  0.139697 -0.085988 -0.309400 -0.465980
12  -1.632510      0.672812 -3.755866 -0.858562  1.215778 -0.407783
13  -0.398371      2.278796 -4.798830  1.201635  0.540445 -1.524616
14  -1.632510     -1.104179  0.120856 -0.858562 -1.211909  0.939067
15  -1.632510     -1.104179  0.232199  1.716684 -0.424021 -0.449353

    handicap1      age1  horseid2      row2  ...  trainer18  driver18  \
0   -0.180155 -0.698612  0.093473 -0.597071  ...        0.0       0.0
1   -0.180155 -0.222413  0.237682 -1.371220  ...        0.0       0.0
2   -0.180155  2.158582  0.095366 -0.855121  ...        0.0       0.0
3   -0.180155 -0.222413  0.144241 -1.371220  ...        0.0       0.0
4   -0.180155  0.729985 -4.702333  1.209277  ...        0.0       0.0
5   -0.180155 -0.698612  0.126596  0.435128  ...        0.0       0.0
6   -0.180155  0.253786  0.298045 -0.080972  ...        0.0       0.0
7   -0.180155 -0.222413  0.010472 -1.371220  ...        0.0       0.0
8   -0.180155  2.158582 -3.667278 -0.597071  ...        0.0       0.0
9    1.911786  0.253786 -4.758227 -0.855121  ...        0.0       0.0
10  -0.180155  0.253786  0.279955  1.467327  ...        0.0       0.0
11  -0.180155 -0.698612  0.169474  1.725376  ...        0.0       0.0
12  -0.180155  0.729985  0.111634 -0.597071  ...        0.0       0.0
13  -0.180155  0.729985  0.064722 -1.371220  ...        0.0       0.0
14  -0.180155 -0.698612  0.164027 -1.371220  ...        0.0       0.0
15  -0.180155  0.253786  0.224310  1.467327  ...        0.0       0.0

    handicap18  age18  horseid19  row19  trainer19  driver19  handicap19  \
0          0.0    0.0        0.0    0.0        0.0       0.0         0.0
1          0.0    0.0        0.0    0.0        0.0       0.0         0.0
2          0.0    0.0        0.0    0.0        0.0       0.0         0.0
3          0.0    0.0        0.0    0.0        0.0       0.0         0.0
4          0.0    0.0        0.0    0.0        0.0       0.0         0.0
5          0.0    0.0        0.0    0.0        0.0       0.0         0.0
6          0.0    0.0        0.0    0.0        0.0       0.0         0.0
7          0.0    0.0        0.0    0.0        0.0       0.0         0.0
8          0.0    0.0        0.0    0.0        0.0       0.0         0.0
9          0.0    0.0        0.0    0.0        0.0       0.0         0.0
10         0.0    0.0        0.0    0.0        0.0       0.0         0.0
11         0.0    0.0        0.0    0.0        0.0       0.0         0.0
12         0.0    0.0        0.0    0.0        0.0       0.0         0.0
13         0.0    0.0        0.0    0.0        0.0       0.0         0.0
14         0.0    0.0        0.0    0.0        0.0       0.0         0.0
15         0.0    0.0        0.0    0.0        0.0       0.0         0.0

    age19
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0

[16 rows x 116 columns]

In [97]:
test_x = test_x.to_numpy()
y_predictions = model.predict(test_x)

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'

In [98]:
print(y_predictions)

[[ 1.14910431e-01  7.99550563e-02  1.03296697e-01  1.67438284e-01
   6.51310161e-02  9.23171490e-02  8.08734074e-02  1.11170083e-01
   1.14020213e-01  8.20027292e-02 -7.04612024e-03 -8.85409303e-03
   1.51349790e-03  2.11975537e-04 -1.31811947e-04 -2.35088402e-04
  -7.53768254e-05  4.51543892e-05  1.43030848e-05]
 [ 1.84639454e-01  9.79956463e-02  7.20942616e-02  9.34953392e-02
   6.08942695e-02  5.84302768e-02  7.59698302e-02  8.92482027e-02
   7.44279474e-02  5.97007275e-02  7.84924105e-02  5.56542464e-02
   5.68299089e-04 -2.21226178e-03 -3.39953881e-03  4.54889727e-04
  -1.19365708e-04 -2.36019303e-04 -2.23563577e-04]
 [ 6.18832856e-02  1.48454815e-01  6.68087453e-02  1.25554845e-01
   1.04465634e-01  5.99144883e-02  7.84393474e-02  6.06465414e-02
   1.27896130e-01  6.92438185e-02  8.25647041e-02  1.56111456e-03
  -1.81824714e-03 -5.53831458e-04 -3.26309260e-03  2.98616942e-04
   5.27637312e-05 -5.04618365e-05  3.31386327e-05]
 [ 1.47349402e-01  1.98253378e-01  1.23966798e-01  1.55142456e-01
   5.77729717e-02  1.67460307e-01  9.88674387e-02  2.18767095e-02
   1.28873158e-02 -3.65700573e-04  1.47082657e-03 -4.54098918e-04
   2.35070568e-03  5.79295680e-04 -1.46613829e-03  2.21623690e-04
  -5.23720519e-05  6.09824201e-06  1.61059797e-05]
 [ 5.74170053e-02  5.24592623e-02  9.83834788e-02  9.64344144e-02
   1.11728102e-01  7.30686635e-02  1.65559202e-01  7.14902356e-02
   5.85657507e-02  1.12139076e-01  1.03524417e-01  8.15198198e-03
  -2.81907897e-03 -1.53673813e-03 -1.55294873e-03  2.03666044e-04
   5.32203994e-05  1.63253571e-06  4.39517680e-05]
 [ 1.39983773e-01  1.12290964e-01  1.08419590e-01  5.98043874e-02
   8.13103616e-02  1.21572353e-01  1.15008257e-01  1.18387923e-01
   1.29288971e-01  4.38847765e-03 -3.96883115e-03 -2.31271982e-03
   1.41624268e-03  6.16143458e-04 -6.10487536e-04  1.70781277e-05
  -2.53544131e-05  3.42558778e-05  5.73331417e-05]
 [ 8.43959451e-02  1.04413494e-01  1.38229355e-01  1.62162721e-01
   1.14146397e-01  8.00951868e-02  1.93736538e-01  4.19788659e-02
   6.34454638e-02  2.95303669e-02 -4.75500524e-03 -3.73683404e-03
  -1.27096660e-03  5.66447154e-04  2.67615449e-03  1.26478029e-04
   2.31421436e-05  6.29775896e-05  1.60814743e-05]
 [ 1.69777066e-01  9.92581472e-02  1.03953354e-01  1.50321037e-01
   9.73059386e-02  1.71638072e-01  1.33611202e-01  5.75921088e-02
   1.78438053e-03 -1.90600380e-03 -9.73064452e-04  3.27434018e-03
   1.97503204e-03 -1.03953201e-03 -2.23542284e-03 -8.33561644e-05
  -5.23897033e-05  4.53254179e-05  9.69591929e-06]
 [ 5.41045330e-02  1.14962906e-01  9.58042592e-02  1.09783337e-01
   8.37726295e-02  9.47611481e-02  8.24073777e-02  1.46621719e-01
   6.93335533e-02  7.46953487e-02  3.74098159e-02  2.46084109e-02
   5.64831775e-04 -4.43559140e-04 -1.07572693e-03  2.75984523e-04
  -6.39624050e-05 -1.20053301e-06 -4.50404987e-05]
 [ 1.03903122e-01  3.03772017e-02  1.16836861e-01  1.03882633e-01
   1.10509083e-01  8.88571516e-02  6.31941929e-02  1.46502048e-01
   9.27500576e-02  1.38084173e-01 -2.33401358e-03 -4.45869099e-03
  -1.99881103e-03 -1.18762534e-03 -1.16444100e-03 -1.02266134e-03
  -4.68826620e-05  8.44264432e-05 -2.76559149e-08]
 [ 1.12405911e-01  8.40324908e-02  1.69243723e-01  1.46273792e-01
   1.54831767e-01  7.59250447e-02  1.48651585e-01  4.41893265e-02
   3.49724852e-02  3.64217162e-02  1.86552852e-03 -4.49997559e-03
  -3.08408123e-03 -5.13456762e-05  2.04525236e-03 -1.57514587e-04
   2.27053533e-06  4.06167528e-05  1.66039536e-05]
 [ 6.56726062e-02  9.17407423e-02  1.17972814e-01  6.59536421e-02
   1.43889606e-01  7.99283460e-02  4.14809547e-02  1.39984086e-01
   1.48872852e-01  1.04818344e-01  7.90691189e-03 -2.38900632e-03
  -1.66776218e-03 -1.26055442e-04 -7.30855390e-04 -2.31091399e-04
   1.04715582e-06  4.25198814e-05  2.34738618e-05]
 [ 6.49249405e-02  1.04030266e-01  5.50821722e-02  9.53213423e-02
   1.18490800e-01  8.34461749e-02  7.51307756e-02  1.00481652e-01
   1.30966157e-01  8.13893974e-02  5.42113483e-02  2.38452181e-02
  -2.34074052e-03 -8.03723931e-04 -2.22246163e-03 -3.82985454e-05
   1.68865954e-05 -2.18341884e-05 -2.71141689e-05]
 [ 1.14016548e-01  1.25798538e-01  8.98631960e-02  9.61537138e-02
   9.93108302e-02  5.85891716e-02  7.24066943e-02  8.43279734e-02
   8.04814696e-02  5.10888770e-02  7.45800585e-02  4.55986261e-02
   9.29579604e-04 -1.86765473e-03 -6.61280937e-04 -1.97530491e-04
  -3.65459127e-05  3.81502177e-05 -4.56748239e-07]
 [ 1.61453322e-01  1.41170979e-01  6.62963986e-02  7.76592568e-02
   8.76372457e-02  7.69261122e-02  1.11404382e-01  8.21952671e-02
   1.07810616e-01  8.72293711e-02  3.52856237e-03 -3.68767884e-03
   1.53670274e-03 -3.10778152e-03 -1.28089357e-03 -1.77577604e-04
  -6.43625972e-05  3.54517833e-05  2.30485821e-05]
 [ 1.61437958e-01  6.72902837e-02  1.38167620e-01  7.77762383e-02
   8.85163695e-02  1.34693593e-01  1.04234636e-01  7.37577379e-02
   1.26451433e-01  2.72612199e-02 -2.90606171e-03 -8.00906681e-04
   1.95507798e-03  4.04983759e-04 -1.42259337e-03  4.63405158e-05
  -4.99915041e-05  1.60373165e-05  4.29828433e-05]]

In [99]:
index = 0
for i, row in extend_df.iterrows():
    horsecnt = int(row['horsecnt'])
    p_sum = sum(y_predictions[index][0:horsecnt])
    print(p_sum)
    for j in range(1, horsecnt+1):
        extend_df.loc[i, 'place' + str(j)] = y_predictions[index][j-1] * 100 / p_sum
    index += 1

1.0111150667071342
1.0010426118969917
0.9858723543584347
0.9706894624978304
1.0007696077227592
0.9860665798187256
1.0121343340724707
0.9834569245576859
0.9882650375366211
0.9948965236544609
1.0069478414952755
1.0003139935433865
0.9873202443122864
0.9922156967222691
0.9997829496860504
0.9723258689045906

In [100]:
print(extend_df)

    venuename  racedistance       day  horseid1         horsename1  row1  \
0           1          1660  1/2/2016    773852        JACK MALONE     6
1          34          2100  1/2/2016    772434       MACTERRA LAD     3
2           1          2138  1/2/2016    768592        CEE UIN L A     1
3          34          2100  1/2/2016    779658           EMMANUEL     4
4           1          1660  1/2/2016    346189          MONARKMAC     1
5          34          2100  1/2/2016    786544        CRUZ BROMAC     1
6           1          2138  1/2/2016    762784     YERRINGTON BOB     1
7          34          1609  1/2/2016    767546       PIPE ME HOME     5
8           1          1660  1/2/2016    762540     GALACTIC EAGLE    14
9          34          2570  1/2/2016    772957    DEAD CAT BOUNCE     1
10          1          2138  1/2/2016    762546            BEBRAVE     4
11         34          2100  1/2/2016    776469    ELLAS PUPPETEER     6
12          1          2138  1/2/2016    345395     COREY ODONOHUE     3
13         34          2570  1/2/2016    229983        IT IS BILLY    11
14          1          1660  1/2/2016    774384  THREE DEE DELIGHT     3
15          1          1660  1/2/2016    786705      OUR OVERANOVA    13

    trainer1  driver1  handicap1  age1  ...    place11   place12  place13  \
0       2511     1902          0     4  ...   0.000000  0.000000        0
1         56       37          0     5  ...   7.841066  5.559628        0
2       2716     2096          0    10  ...   8.374786  0.000000        0
3       2113     1603          0     5  ...   0.000000  0.000000        0
4       1236     2354          0     7  ...  10.344480  0.000000        0
5        817     1808          0     4  ...   0.000000  0.000000        0
6       2940     2305          0     6  ...   0.000000  0.000000        0
7        502      368          0     5  ...   0.000000  0.000000        0
8       2940     2305          0    10  ...   3.785403  2.490062        0
9       2353      368         10     6  ...   0.000000  0.000000        0
10      3308     2305          0     6  ...   0.000000  0.000000        0
11      1347      895          0     4  ...   0.000000  0.000000        0
12      2824      937          0     7  ...   5.490756  2.415145        0
13      2170      131          0     7  ...   7.516517  4.595636        0
14       473     1909          0     4  ...   0.000000  0.000000        0
15      1236      907          0     6  ...   0.000000  0.000000        0

    place14  place15  place16  place17  place18 place19  horsecnt
0         0        0        0        0        0       0      10.0
1         0        0        0        0        0       0      12.0
2         0        0        0        0        0       0      11.0
3         0        0        0        0        0       0       8.0
4         0        0        0        0        0       0      11.0
5         0        0        0        0        0       0       9.0
6         0        0        0        0        0       0      10.0
7         0        0        0        0        0       0       8.0
8         0        0        0        0        0       0      12.0
9         0        0        0        0        0       0      10.0
10        0        0        0        0        0       0      10.0
11        0        0        0        0        0       0      10.0
12        0        0        0        0        0       0      12.0
13        0        0        0        0        0       0      12.0
14        0        0        0        0        0       0      10.0
15        0        0        0        0        0       0       9.0

[16 rows x 156 columns]

In [108]:
for i, row in extend_df.iterrows():
    print("Race Date : " + row['day'])
    venuename = venue_le.inverse_transform([int(row['venuename'])])[0]
    print("Venue Name : " + venuename)
    print("Distance : " + str(row['racedistance']))
    horsecnt = int(row['horsecnt'])
    for index in  range(1, horsecnt+1):
        horsename = row['horsename' + str(index)]
        place = round(row['place' + str(index)],1)
        print("\t" + row['horsename' + str(index)] + "\t : " + str(place))

Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 1660
	JACK MALONE	 : 11.4
	VADER	 : 7.9
	ADRIATIC COAST	 : 10.2
	TUXEDO MAX	 : 16.6
	TRUE DESIRE	 : 6.4
	FOREST FURY	 : 9.1
	END OF THE MATTER	 : 8.0
	LORD JONES	 : 11.0
	BLESSED IS THE BOY	 : 11.3
	ERNIE BARRASSO	 : 8.1
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 2100
	MACTERRA LAD	 : 18.4
	UPANATOM	 : 9.8
	THE FAT MAN	 : 7.2
	LOONG NIEN	 : 9.3
	SPRINGFIELD TATTOO	 : 6.1
	CHANGE GEAR	 : 5.8
	ART PLEASER	 : 7.6
	FIELD MAJOR	 : 8.9
	ROYAL WITNESS	 : 7.4
	WHATS THE BIG IDEA	 : 6.0
	ERIC CLAPTON	 : 7.8
	FOUR SMART ACES	 : 5.6
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 2138
	CEE UIN L A	 : 6.3
	JOYS A BABE	 : 15.1
	MAGIC OATS	 : 6.8
	MONTANA FALCON	 : 12.7
	COMPTON STREET	 : 10.6
	COLD IDEAL	 : 6.1
	BROADWAY PLAYBOY	 : 8.0
	MISTA MARA	 : 6.2
	FEARLESS LEADER	 : 13.0
	FUNNY BOY	 : 7.0
	STORMFORTHEBOYS	 : 8.4
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 2100
	EMMANUEL	 : 15.2
	STARZZZ OF ICON	 : 20.4
	JUSTBRITELL	 : 12.8
	TENNAYA	 : 16.0
	MISTER RUFUS	 : 6.0
	SIR MACS MAN	 : 17.3
	WATCH THIS SPOT	 : 10.2
	ARTOC	 : 2.3
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 1660
	MONARKMAC	 : 5.7
	ARTZONE	 : 5.2
	ELLMER HANOVER	 : 9.8
	LIVELY HERO	 : 9.6
	ISOBELA MAREE	 : 11.2
	LISTON	 : 7.3
	MAGICAL MEL	 : 16.5
	RUMMIKING	 : 7.1
	ALL I WANT	 : 5.9
	LILBITACHICKNFRIED	 : 11.2
	CAMELOT BAY	 : 10.3
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 2100
	CRUZ BROMAC	 : 14.2
	FROSTYFLYER	 : 11.4
	PIECE OF MY HEART	 : 11.0
	BLACK COUGAR	 : 6.1
	NOBETTERTHANTHIS	 : 8.2
	RULE OF THUMB	 : 12.3
	SIR DASHER DEE	 : 11.7
	TRISON	 : 12.0
	DJANGO MACH	 : 13.1
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 2138
	YERRINGTON BOB	 : 8.3
	APPLAUSE	 : 10.3
	MAJOR DEED	 : 13.7
	WITHALOTOFLUCK	 : 16.0
	MAGNUSSEN	 : 11.3
	NORTHERN LINE	 : 7.9
	REGAL POINT	 : 19.1
	GLASSCUTTERSPIRIT	 : 4.1
	HECTOR BARBOSSA	 : 6.3
	NUREYEV	 : 2.9
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 1609
	PIPE ME HOME	 : 17.3
	FIFTYSHADESOFBROWN	 : 10.1
	DECLARING	 : 10.6
	MAYBELINA	 : 15.3
	KAPITAN CLAIRE	 : 9.9
	KYVALLEY PINK	 : 17.5
	TROTTN THE CATWALK	 : 13.6
	DORA PEPPERELL	 : 5.9
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 1660
	GALACTIC EAGLE	 : 5.5
	DRAWING AWAY	 : 11.6
	ONE EYED TERROR	 : 9.7
	ONLY THE BRAVE	 : 11.1
	ALWAYS PROMPT	 : 8.5
	MOTU MISS LILLI	 : 9.6
	CHEVAL ZEPPENOLOGY	 : 8.3
	THE PACMAN	 : 14.8
	THE BRAZEN JASPER	 : 7.0
	SUPALINER	 : 7.6
	HEZ DECLAN	 : 3.8
	RUBYS BAD BOY	 : 2.5
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 2570
	DEAD CAT BOUNCE	 : 10.4
	HEZA BOY STAR	 : 3.1
	BAREFOOT SALLY	 : 11.7
	ELEGANT IMAGE	 : 10.4
	MAJESTIC ESS JAY	 : 11.1
	EL PACO	 : 8.9
	MAORISFAVOURITESUN	 : 6.4
	ALDEBARAN SHADES	 : 14.7
	HERECOMES THE CAT	 : 9.3
	MINGARA	 : 13.9
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 2138
	BEBRAVE	 : 11.2
	ISAAC	 : 8.3
	DEANO ROBYN	 : 16.8
	COULDNTRESIST	 : 14.5
	TOOPERATE	 : 15.4
	BETONTHEBAY	 : 7.5
	CHATTANOOGACHOOCHOO	 : 14.8
	EM JAY FORTYSEVEN	 : 4.4
	GARGARRA	 : 3.5
	CRUISIN CARL	 : 3.6
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 2100
	ELLAS PUPPETEER	 : 6.6
	ALLBLACK STRIDE	 : 9.2
	TABANAN	 : 11.8
	GOLLAHMAN	 : 6.6
	EGODAN	 : 14.4
	SHOW HEEZA CLASSIC	 : 8.0
	FOUR NEEDED	 : 4.1
	QUEENS ADVOCATE	 : 14.0
	OUR BOLD LUSTRE	 : 14.9
	VINNY CHASE	 : 10.5
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 2138
	COREY ODONOHUE	 : 6.6
	ROWAN FRANCO	 : 10.5
	PACKNPLENTY	 : 5.6
	MCKAY	 : 9.7
	CANKICKATARGET	 : 12.0
	MISTER ELEGANT	 : 8.5
	A PASSION FOR ACES	 : 7.6
	CHALDEA	 : 10.2
	HIGHSTEAD	 : 13.3
	MISTER SKYE ROCKET	 : 8.2
	STANBESIDEME	 : 5.5
	LADY WHITE WATER	 : 2.4
Race Date : 1/2/2016
Venue Name : Geelong
Distance : 2570
	IT IS BILLY	 : 11.5
	HECTORJAYJAY	 : 12.7
	IM CORZIN TERROR	 : 9.1
	FIVE STAR ANVIL	 : 9.7
	KOTARE ROLAND	 : 10.0
	CLASSY WESTERN	 : 5.9
	KEAYANG CULLEN	 : 7.3
	DESDON MURRUFFY	 : 8.5
	CHARLIE MACHSHEEN	 : 8.1
	ABETTORPUNT	 : 5.1
	GLENFERRIE HOOD	 : 7.5
	HILLTOP HUSTLER	 : 4.6
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 1660
	THREE DEE DELIGHT	 : 16.1
	DASHERS BULLET	 : 14.1
	ALPHITONIA	 : 6.6
	WECANONLYHOPE	 : 7.8
	CHEVAL CHARETTE	 : 8.8
	MISS CATALINA	 : 7.7
	MILLWOOD CHLOE	 : 11.1
	PEPPERALL	 : 8.2
	NEEDA MARGARITA	 : 10.8
	STYLISH BOULEVARD	 : 8.7
Race Date : 1/2/2016
Venue Name : Albion Park
Distance : 1660
	OUR OVERANOVA	 : 16.6
	TYRON LOCHIE	 : 6.9
	ASTRAL TRAVELLER	 : 14.2
	DAYTONA BEACH	 : 8.0
	ITS THREE BY TWO	 : 9.1
	ODE TO SUCCESS	 : 13.9
	SENITAS SUCCESS	 : 10.7
	MONORAIL	 : 7.6
	FLYING BUCK	 : 13.0

In [94]:
a= venue_le.inverse_transform([1])
a

array(['Albion Park'], dtype=object)